{% extends '::base.html.twig' %}

{% block body %}
	<h5>Hello {{ name }} {{ surname }}!!</h5>
	<p>
	{{ url }}
	</p>
        <small>
        {% for flashMessage in app.session.flashbag.get('notice') %}
                {{ flashMessage }}
        {% endfor %}
        </small>
{% endblock %}