{% extends '::base.html.twig' %}

{% block body %}
    {% for product in products %}
<p>
    {{ product.name|capitalize }}, {{product.id }}
</p>
    {% endfor %}
<a href="{{ path('ssstrz_test_homepage', {'name' : 'TEST'}) }}">witaj</a>
{% endblock %}
